# 忽略所有 __pycache__ 目录
__pycache__/

models/

# 忽略所有 .pyc 文件
*.pyc

# 忽略 Python 自动生成的缓存文件
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.core
*.orig
*.rej
.*.swp
.*.swo
