compute_environment: LOCAL_MACHINE
debug: false
deepspeed_config:
  zero3_init_flag: false
  deepspeed_config_file: "examples/wanvideo/model_training/full/deepspeed_usp_config.json"
distributed_type: DEEPSPEED
downcast_bf16: 'no'
enable_cpu_affinity: false
machine_rank: 0
main_training_function: main
num_machines: 1
rdzv_backend: static
same_network: true
tpu_env: []
tpu_use_cluster: false
tpu_use_sudo: false
use_cpu: false
